.settings-container {
  display: grid;
  width: 81vw;
  margin: auto; /* Center the container */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  height: 13.5rem; /*//! this is 27 or33rem with all 6 boxes*/
  border-radius: 4px;
}

.setting-box {
  background-color: transparent;
  border: 1px solid #474a4e;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 7px 5px 1px rgba(0, 0, 0, 0.2);
  padding: 20px; /* Add padding for inner content */
  display: flex; /* Use flexbox for vertical alignment */
  flex-direction: column; /* Stack children vertically */
  justify-content: center;
  align-items: center; /* Center-align the children */
}

/* //?software update */

.inner-box,
.software-inner-box {
  width: 100%; /* Use the full width of the setting-box */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center-align the boxes */
  gap: 25px; /* Space between each box */
}
.software-inner-box {
  gap: 23px; /* Space between each box */
}

.box-item {
  width: 90%;
}
.box-item.text-center {
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 100%; /* Full width to align text center */
}

.text-input {
  width: 100%; /* Full width */
  padding: 10px;
  background-color: transparent;
  border-radius: 4px; /* Rounded corners */
  border: 0.5px solid #474a4e; /* Border color */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}
/* ::placeholder {
  color: rgba(0, 168, 177, 0.65);
} */

.button-container {
  width: 100%; /* Full width */
  display: flex;
  justify-content: center; /* Center the button horizontally */
}

.rename-button {
  padding: 10px 20px; /* Padding inside the button */
  border-radius: 4px; /* Rounded corners */
  border: none; /* No border */
  background-color: transparent; /* Background color */
  cursor: pointer;
  border: 1px solid #48f7f5;
  color: #48f7f5;
  font-weight: bold;
}
