:root {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #000;
}

.gradient-overlay {
  border-radius: 8px;
  margin-top: 0.3px;
  padding-top: 2rem;
}
.navbar-grid {
  display: grid;
  width: 81vw;
  height: 100%;
  grid-row-gap: 2rem;
  grid-template-rows: 9rem 1fr;
  align-content: start;
  margin: auto;
  grid-column-gap: 2.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
}
.main-grid {
  display: grid;
  width: 81vw;
  height: 100%;
  grid-row-gap: 3rem;
  grid-template-rows: 6rem 14rem 16rem 1fr;
  align-content: start;
  margin: auto;
  grid-column-gap: 2.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
}

.row-content {
  display: grid;
  grid-template-rows: 1fr 0.5rem 1fr; /* 1fr for content, 1rem for the gap, 1fr for content */
  width: 100%;
  height: 100%;
}

.menu-bottom-row {
  display: flex; /* Use flexbox to align children */
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Align children to the end (bottom) of the container */
  align-items: center; /* Center children horizontally */
  height: 100%; /* Take the full height to allow flexbox to position children */
}

/* //?logo and menu start */

.logo-svg {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

.fielddock-select-menu,
.table-select-menu {
  width: 100%;
  height: 55%;
  border: 1px solid rgba(0, 168, 177, 0.65);
  color: #ececed;
  background: linear-gradient(1deg, rgba(0, 0, 0, 0), #1b1b1b);
  border-radius: 4px;
  margin-bottom: 0;
  padding: 0 0 0 0.8em;
  font-size: 1rem;
  box-shadow: 0 7px 5px 1px rgba(0, 0, 0, 0.2);
}

/* //?user name and system info start */

.row-content.row-2-custom {
  grid-template-rows: 25% 75%;
}

.user-action-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  gap: 1rem; /* Spacing between the username box and the logout button */
}

.active-user-name,
.log-out-button {
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 0 0.5em;
  font-size: 0.85rem;
  display: flex;
  box-shadow: 0 7px 5px 1px rgba(0, 0, 0, 0.2);
}
.active-user-name {
  width: 60%;
  height: 87%;
  border: 1px solid rgba(0, 242, 255, 0.25);
  color: #48f7f5;
}

.log-out-button {
  width: 25%;
  height: 90%;
  border: 1px solid #25c0e9;
  color: #25c0e9;
  cursor: pointer;
}

.device-info {
  display: flex;
  flex-direction: column; /* Stacks flex items vertically */
  justify-content: flex-end; /* Aligns the content to the bottom */
  align-items: center; /* Centers the content horizontally */
  height: 100%;
  width: 100%;
  text-align: center; /* Centers the text lines */
}

.device-reading {
  font-size: 0.85rem;
  color: #fff;
}
.device-date-time,
.device-coordinates {
  font-size: 0.9rem;
  margin-top: 5px;
  color: #48f7f5;
}

.device-gps {
  margin-top: 5px;
  font-size: 0.85rem;
  color: #fff;
}

/* //?screen toggle buttons start */

.screen-toggle-buttons-container-top,
.screen-toggle-buttons-container-bottom {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.screen-toggle-buttons-container-top {
  align-items: flex-start;
  height: 89%; /* //! I put this here because the icons in bottom row are smaller than ones in top, so had to make them look more even */
}
.screen-toggle-buttons-container-bottom {
  align-items: flex-end;
}

.toggle-button {
  flex: 1; /* Each button will take up an equal amount of space */
  border: 1px solid #797979;
  margin: 0 4px; /* Spacing between buttons; adjust as needed */
  height: 80%;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 7px 5px 1px rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 45%;
  cursor: pointer;
}
.toggle-button-icon {
  object-fit: contain;
  width: 100%;
  max-height: 80%;
}
.toggle-imaging {
  object-fit: contain;
  width: 75%;
  max-height: 70%;
}
.toggle-imaging-unactive {
  object-fit: contain;
  max-height: 75%;
}
/* //?SECOND ROW STARTS */
.row-parent-box {
  position: relative; /* Needed for absolute positioning of the title box */
  border: 0.5px solid #474a4e;
  border-radius: 4px;
  background: linear-gradient(1deg, rgba(0, 0, 0, 0), #1b1b1b);
  box-shadow: 0 7px 5px 1px rgba(0, 0, 0, 0.2);
  padding-top: 40px; /* Adjust based on the height of your title box */
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: space-around; /* Space out child elements */
  padding: 20px;
}

.title-box {
  position: absolute; /* Position it relative to its parent */
  top: -10px; /* Half the height of the title box to move it above the parent box */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Offset by half its width to truly center it */
  background-color: #212124;
  color: #48f7f5;
  padding: 3px 8px;
  border: 0.5px solid #474a4e;
  border-radius: 4px;
  font-size: 0.93rem;
}
.env-title-box,
.env-title-box-air,
.env-title-box-light {
  position: absolute; /* Position it relative to its parent */
  top: -12px; /* Half the height of the title box to move it above the parent box */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Offset by half its width to truly center it */
  background: #1b1b1b;
  color: rgb(236, 236, 237);
  padding: 3px 8px;
  font-size: 0.93rem;
}

.env-title-box-air {
  background: #181618;
}
.env-title-box-light {
  background: #0f0f0f;
}

/* //? Growing degree days starts  */
.input-group {
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.input-group input,
.input-group button {
  width: 25%; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  text-align: center;
  border-radius: 4px;
  border: 0.5px solid #474a4e;
  background-color: transparent;
  margin: 0 8px; /* Add some space between elements */
  font-size: 0.75rem;
}
.input-group input::placeholder {
  color: rgba(0, 168, 177, 0.65);
}

.input-group button {
  cursor: pointer;
  border: 1px solid #48f7f5;
  color: #48f7f5;
  font-weight: bold;
}

.data-display {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  margin-top: 10px;
}

.data-label,
.data-value {
  margin: 2px 0; /* Slight margin between the text elements */
}
.data-label {
  color: rgba(0, 242, 255, 0.65);
  font-size: 0.85rem;
}
.data-value {
  color: #333333;
  font-size: 1rem;
}

/* //? system status */

.status-columns {
  display: flex;
  justify-content: space-around; /* This will space the columns evenly */
  width: 100%; /* Ensures the columns span the entire width of the parent */
}

.status-column,
.drone-status-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.drone-status-column {
  width: 70%;
}

.status-item {
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adds space between status items, adjust as needed */
}

.status-label {
  font-size: 0.85rem;
  color: rgba(0, 168, 177, 0.65);
}
.env-status-label {
  font-size: 0.8rem;
  color: rgba(0, 168, 177, 0.65);
}

.status-value {
  margin-left: 15px; /* Adjust as needed */
  font-size: 0.85rem;
  font-weight: bold;
  color: #48f7f5;
}
.env-status-value {
  font-size: 0.85rem;
  font-weight: bold;
  color: #48f7f5;
  margin-top: 10px;
}

.status-charging {
  color: #48f7f5; /* Or any other color indicating charging status */
}

.cellular-indicator {
  display: flex;
  gap: 5px;
}

.signal-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #555; /* Non-active color */
}

.signal-dot.active {
  background-color: rgba(0, 168, 177, 0.65);
}

/* //? misc start */
.table-parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.misc-soil-table-parent {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  width: 100%;
  height: 100%; /*maybe*/
}
.content-parent {
  width: 95%; /* Match the width of the menu-parent for consistency */
  margin-top: 10px; /* Space between this element and the select menu */
  overflow: auto;
}

.menu-parent {
  margin-top: 10px;
  height: 30px;
  width: 95%;
  display: flex;
  justify-content: flex-start;
}
.sensor-menu-parent {
  margin-top: 10px;
  height: 30px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.table-select-menu {
  width: 100%;
  height: 100%;
  font-size: 0.8rem;
}
.svg-container {
  height: 100%;
  width: 100%;
}
.drone-svg,
.body-svg {
  width: 100%;
  height: 100%;
}

.environmental-conditions-box {
  grid-column: 3 / 4; /* Span all 3 columns */
  grid-row: 2 / 4; /* Now spans the height of two rows */
}

.page-title-box {
  background: transparent; /* Example background color */
  color: #fff; /* Example text color */
  padding: 20px; /* Adjust padding as needed */
  width: 79vw; /* Set the width to match the grid */
  margin: auto; /* Center the box with 20px spacing above and below */
  display: flex; /* Use flexbox for centering content */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-bottom: 2rem;
}

.page-title-box h3 {
  margin: 0; /* Remove default margin */
  text-align: center; /* Ensure text is centered */
  /* Any other specific styles for the h2 element */
}

/* //? Env Conditions */

.env-grid {
  height: 90%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Creates a 2x2 grid */
  grid-template-rows: 1fr 1fr;
  position: absolute;
  top: 50%; /* Center vertically in the parent */
  left: 50%; /* Center horizontally in the parent */
  transform: translate(-50%, -50%); /* Adjust for true centering */
  margin-top: 10px;
}

/* //? buttons */

.button-container {
  display: flex;
  flex-direction: row; /* Align buttons in a row */
  justify-content: center; /* Center buttons horizontally, adjust as needed */
  gap: 20px; /* Space between buttons */
}

.choice-button {
  border-radius: 4px;
  width: 14%;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0 7px 5px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #48f7f5;
  color: #25c0e9;
  cursor: pointer;
  font-weight: bold;
}

/* //? diagnostics */

.input-custom::placeholder {
  color: #a3a4a6;
}

/* //? Drone and Sensors page  */

.row-column-grid {
  display: grid;
  width: 81vw;
  height: 100%;
  grid-gap: 2.5rem; /* This sets both row-gap and column-gap */
  grid-row-gap: 3rem;
  grid-template-rows: auto auto; /* Adjust the row sizes based on content */
  grid-template-columns: repeat(3, 1fr); /* Three equal columns */
  align-content: start;
  margin: auto; /* Centers the grid horizontally */
}

.row-menu-parent {
  display: flex;
  flex-direction: column; /* Ensures children are stacked vertically */
  justify-content: flex-start; /* Aligns children to the start along the main axis */
  align-items: flex-start; /* Aligns children to the start of the cross axis */
  height: 40%;
  width: 100%;
}

.menu-fill {
  border: 1px solid rgba(0, 168, 177, 0.65);
  border-radius: 4px;
  box-shadow: 0 7px 5px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(1deg, rgba(0, 0, 0, 0), #1b1b1b);
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border-radius: 4px;
  color: #ececed;
  font-size: 0.9rem;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%; /* Ensure the column takes the full height of its container */
}

.middle,
.bottom {
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
}

.top {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align children to start at the top */
  align-items: center; /* Center children horizontally */
  height: 20%; /* Adjust based on your design */
  width: 100%; /* Adjust based on your design */
}

.top-centered-row-container {
  position: relative;
  display: flex;
  justify-content: center; /* Center the .inner-content div horizontally */
  align-items: center; /* Center the .inner-content div vertically, but it starts at the top due to parent styling */
  width: 100%;
  height: 70%;
  border: 0.5px solid #474a4e;
  border-radius: 4px;
  background: linear-gradient(1deg, rgba(0, 0, 0, 0), #1b1b1b);
}

.top-inner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.middle {
  height: 60%;
}

.page-img {
  width: 80%;
  height: 80%;
}
.sensor-page-img {
  width: 100%;
  height: 100%;
}

.bottom {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Align children to start at the top */
  align-items: center; /* Center children horizontally */
  height: 20%; /* Adjust based on your design */
  width: 100%; /* Adjust based on your design */
}

.bottom-centered-row-container {
  position: relative;
  display: flex;
  justify-content: center; /* Center the .inner-content div horizontally */
  align-items: center; /* Center the .inner-content div vertically, but it starts at the top due to parent styling */
  width: 100%;
  height: 70%;
  border: 0.5px solid #474a4e;
  border-radius: 4px;
  background: linear-gradient(1deg, rgba(0, 0, 0, 0), #1b1b1b);
}

.bottom-inner-content {
  display: flex;
  width: 90%; /* Ensure the container takes the full width of its parent */
  padding: 0; /* Adjust or remove padding as necessary */
  margin-top: 10px;
}

/* Target the div that directly contains the scrolling content */
.table-container ::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just making scrollbar invisible */
}

.table-container ::-webkit-scrollbar-thumb {
  background: transparent;
}
.content-parent ::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just making scrollbar invisible */
}

.content-parent ::-webkit-scrollbar-thumb {
  background: transparent;
}

.view-plan-button {
  cursor: pointer;
  border: 1px solid #48f7f5;
  color: #48f7f5;
  font-weight: bold;
  background-color: transparent;
  padding: 15px 20px;
  border-radius: 4px;
  margin-top: 15px;
  width: 35%;
}

/* //?css for tables */

.table-th {
  color: rgba(0, 168, 177, 0.65);
  width: 25%;
  padding: 10px;
  text-align: center;
}
.table-td {
  border-bottom: 1px solid #d3d3d3;
  padding: 10px;
  text-align: center;
  border-bottom-width: 1px;
  width: 25%;
  color: rgba(0, 168, 177, 0.65);
}

/* //? Mission Planning */
.coordinates-map-grid {
  display: grid;
  width: 81vw;
  margin: auto;
  height: 43rem;
  box-shadow: 0 7px 5px 1px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 168, 177, 0.65);
  border-radius: 10px;
  grid-template-columns: 2fr 1fr;
}

.column-large {
  display: flex; /* Enables Flexbox */
  justify-content: center; /* Centers children horizontally in the flex container */
  align-items: center; /* Centers children vertically in the flex container */
  height: 100%; /* Ensure it fills the parent height, adjust as needed */
}

/* Styles for the smaller column */
.column-small {
  border-left: 1px solid rgba(0, 168, 177, 0.65); /* Separates it visually from the larger column */
  display: flex;
  justify-content: center; /* Centers children horizontally */
  align-items: center; /* Centers children vertically */
  height: 100%; /* Ensure it takes up the full height */
}

.small-column-content {
  height: 95%;
  width: 90%;
  background: linear-gradient(1deg, rgba(0, 0, 0, 0), #1b1b1b);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  border-radius: 4px;
  display: flex; /* Enables Flexbox for content inside small-column-content */
  flex-direction: column;
  justify-content: center; /* Center horizontally inner content */
  border: 1px solid #474a4e;
}
.small-column-top {
  height: 85%;
  width: 100%; /* Adjust if necessary */
  display: flex;
  flex-direction: column; /* Ensures vertical layout */
  align-items: center; /* Centers horizontally still, but not necessary if table width is 100% */
  justify-content: flex-start; /* Aligns children to the top */
  overflow: auto; /* Adds scrolling if the table exceeds the div's height */
}
.small-column-bottom {
  height: 15%;
  display: flex; /* Use flex layout to distribute space */
  justify-content: space-around; /* Space buttons evenly */
  align-items: center; /* Center buttons vertically */
  border-top: 0.5px solid #474a4e;
}

.small-column-top table {
  width: 100%; /* Ensure table fills the container width */
  margin: 0; /* Removes any default margin */
  border-collapse: collapse; /* Optional: for styling */
}

.small-column-top th,
.small-column-top td {
  text-align: center; /* Centers text in table headers and cells */
  border: 1px solid #ddd; /* Adds light borders for definition */
  padding: 7px; /* Adds padding inside cells for better readability */
}

.small-column-top th {
  background-color: transparent; /* Gives the header a distinct background, adjust as needed */
  color: #fff;
  font-size: 0.7rem;
}

.small-column-top tbody tr {
  background-color: red; /* Sets the background color of table row elements to red */
  color: white; /* Sets text color to white for contrast against the red background */
  border-top-right-radius: 4px;
}

.small-column-button {
  flex: 1; /* Each button takes up equal space */
  border-radius: 4px;
  padding: 15px;
  background-color: transparent;
  box-shadow: 0 7px 5px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid #48f7f5;
  color: #25c0e9;
  cursor: pointer;
  font-weight: bold;
  text-align: center; /* Ensure text is centered, useful if padding adjustment is needed */
  margin: 0 15px; /* Adds a little space between buttons */
}
/* Month on top */
.MuiPickersCalendarHeader-label {
  font-size: 1.1rem !important;
  color: #fff !important;
}
/* M-T-W-Th-F */
.MuiDayCalendar-weekDayLabel {
  color: rgba(0, 168, 177, 0.65) !important;
  font-size: 1.2rem !important;
  font-weight: bold !important;
}
/* days in the current month */
.css-1u23akw-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 0.95rem !important;
  color: #fff !important;
}
/* days from past and future month */
.css-18wn1yb-MuiButtonBase-root-MuiPickersDay-root {
  font-size: 0.95rem !important;
  color: #797979 !important;
}

/* month drop down arrow, left arrow, right arrow */
.css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button,
.css-1tkx1wf-MuiSvgIcon-root-MuiPickersCalendarHeader-switchViewIcon {
  font-size: 1.1rem !important;
  color: #fff !important;
}

/* //?MEDIA QUERIES START */
@media screen and (min-width: 1700px) {
  .navbar-grid {
    grid-template-rows: 12.2rem 1fr;
  }
  .main-grid {
    grid-template-rows: 6rem 14rem 24rem 1fr;
  }
  .row-content.row-2-custom {
    grid-template-rows: 30% 70%;
  }
  .coordinates-map-grid {
    height: 53rem;
  }
  .device-reading {
    font-size: 1rem;
  }
  .device-date-time,
  .device-coordinates {
    font-size: 1.2rem;
    margin-top: 5px;
  }

  .device-gps {
    margin-top: 5px;
    font-size: 1rem;
  }
  .row-content {
    display: grid;
    grid-template-rows: 1fr 1rem 1fr;
  }
  .active-user-name,
  .log-out-button {
    height: "80%";
  }
}
